@model EmployeeCreateViewModel


@{
    ViewBag.Title = "Create Employee";
}


<div class="container">
    <form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="Post">
        <div class="form-group">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Department" class="col-form-label"></label>
            <select asp-for="Department" class="custom-select mr-sm-2" asp-items="@Html.GetEnumSelectList<Dept>()">
            <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Department" class="text text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Photos" class="col-form-label"></label>
            <div>
            <input multiple asp-for="Photos" class="form-control custom-file-input" type="file" id="photo" name="Photo" />
            <label class="custom-file-label"></label>
            </div>
        </div>

        <div asp-validation-summary="All" class="text text-danger"></div>
        <br />
        <input class="btn btn-primary" type="submit" value="Add" />

        @section Scripts {
            <script>
                $(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileLabel = $(this).next('.custom-file-label');
                        var files = $(this)[0].files;
                        if (files.length > 1) {
                            fileLabel.html(files.length + " files selected");
                        }
                        else if (files.length == 1) {
                            fileLabel.html(files.length + " file selected");
                        }
                    });
                });
            </script>
        }
    </form>
</div>












