@model int

@{
    ViewBag.Title = "404 Error";

}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error</h4>
    <hr />
    <h5>Employee with Id = @Model cannot be found</h5>
    <br />
    <a asp-action="list" asp-controller="home">List of Employees</a>
</div>



