@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<div class="container body-content">
    <hr /><br>
    <table id="table1" border="3">
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>Alfreds</td>
            <td>Anders</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>Centro</td>
            <td>Francisco</td>
            <td>Mexico</td>
         
        </tr>
        <tr>
            <td>Rentro</td>
            <td>Grancisco</td>
            <td>Pexico</td>
        </tr>
        <tr>
            <td>Aentro</td>
            <td>Brancisco</td>
            <td>Cexico</td>
        
        </tr>
       
        
    </table>
</div>
