

<div class="container">
<form action="/action_page.php">
    <div class="form-group">
        <label for="email">Name:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Issue:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
        <label for="mng">Manager Name:</label>
    <div>
        <input type="text" class="form-control" id="mng" />
    </div>
    <br />
    <button type="submit" class="btn btn-danger">Submit</button>
</form>
</div>